@use '~src/scss/theme/material-state-overlay' as *;
@use '~src/scss/abstracts/variables' as *;
@use '~include-media/dist/_include-media' as * with ($breakpoints: $breakpoints);

.hero {
    display: flex;
    flex-direction: column;
}

.hero__form {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include media(">small") {
        flex-direction: row;
        align-items: flex-start;
    } 
}

.hero__content .hero__title {
    font-weight: bold;
    margin-bottom: 1rem;
    font-size: 2.8rem;
}

.hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}

.hero__content .hero__text {
    text-align: center;
    font-size: 1.8rem;
    line-height: 1.5;
    margin-bottom: 2.2rem;
    max-width: 700px;  
}

.hero__form .hero__button {
    @include primary-hover();

    @include media(">small") {
        margin-top: 3px;
    } 
}

.hero__image {
    max-width: 500px;
    margin: auto;
}