<aside>
    <div class="sticker-container sticker-container--left">
        <picture>
            <source type="image/webp" srcset="assets/images/tincho.webp, assets/images/tincho-2x.webp 2x">
            <img srcset="assets/images/tincho.png, assets/images/tincho-2x.png 2x" alt="MGames Hero">
        </picture>    
    </div>
</aside>
<aside>
    <div class="sticker-container sticker-container--right">
        <picture>
            <source type="image/webp" srcset="assets/images/alan.webp, assets/images/alan-2x.webp 2x">
            <img srcset="assets/images/alan.png, assets/images/alan-2x.png 2x" alt="MGames Hero">
        </picture>    
    </div>
</aside>
<section class="hero container">
    <picture class="hero__image">
        <source type="image/webp" srcset="assets/images/mgameshero.webp, assets/images/mgameshero-2x.webp 2x">
        <img srcset="assets/images/mgameshero.png, assets/images/mgameshero-2x.png 2x" alt="MGames Hero">
    </picture>
    <header class="hero__content">
        <h1 class="hero__title">MGames Quiz</h1>
        <p class="hero__text">
            Bienvenido a la competencia anual de aptitudes multidisciplinarias. 
            A continuación tendrán que responder 30 preguntas con un tiempo máximo de 40 segundos por pregunta. 
            Ingresá el código para comenzar
        </p>
        <form [formGroup]="codeForm" class="hero__form" (ngSubmit)="onCodeSubmit()">
            <mat-form-field appearance="fill" class="form__field code__input" color="accent" (click)="playAudio()">
                <mat-label class="form__label"> Ingresá el código </mat-label>
                <input matInput formControlName="code">
                <mat-error *ngIf="code?.touched && code?.invalid">
                  <div *ngIf="code?.errors?.required">Por favor, Ingresá un código</div>
                </mat-error>
            </mat-form-field> 
            <button 
                type="submit" mat-raised-button 
                class="btn btn--rounded btn--large btn--branded hero__button"
                [disabled]="!codeForm.valid">
                let's go! <span class="emoji"> 😎 </span>
            </button>
        </form>
    </header>
</section>
