@use '~src/scss/abstracts/variables' as *;
@use '~include-media/dist/_include-media' as * with ($breakpoints: $breakpoints);

.code__input {
    @include media("<small") {
        text-align: center;
    }

    @include media(">small") {
        margin-bottom: 0px;
        margin-right: 20px;
    }
}

.sticker-container {
    position: absolute;
    @include media("<extra-large") {
        display: none;
    }
}

.sticker-container--left {
    top: 16%;
    left: 8%;
}

.sticker-container--right {
    top: 10%;
    right: 6%;
}

.sticker-container--left img {
    width: 12vw;
    max-width: 180px;
    height: 24vh;
    max-height: 160px;
}

.sticker-container--right img {
    width: 16vw;
    max-width: 240px;
    height: 30vh;
    max-height: 200px;
}