img, picture {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
}

html {
    font-size: 62.5%
}    

main {
    padding: 20px 15px;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.btn {
    text-transform: uppercase;
    font-size: 1.6rem;
}

@mixin btn-branded-theme($theme) {
    $primary: map-get($theme, primary);
    $primary-contrast: map-get($primary, contrast);
    $branded-shade: 500;
    .btn--branded {
        background-color: map-get($primary, $branded-shade);
        color: map-get($primary-contrast, $branded-shade)
    }
}

button.btn--rounded {
    border-radius: 40px;
}

button.btn--large {
    width: 80vw;
    max-width: 300px;
    padding: 0.5rem 0;
}

.emoji {
    font-size: 2rem;
}