.form__field {
    margin-bottom: 2rem;
}

.form__label {
    font-size: 1.6rem;
}

//multiple error div inside mat-error (multiple errors)
mat-form-field .mat-form-field {
    &-underline {
      position: relative;
      bottom: auto;
    }
    &-subscript-wrapper {
      position: static;
      overflow: visible;
    }
}

//remove extra padding from mat-form-field
.form__field .mat-form-field-wrapper{
  padding-bottom: 0 !important;
}

//mat-form-field error underline red
@mixin ripple-warn-theme($theme) {
    $warn: map-get($theme, warn);
    $error-shade: 500;
    .ng-touched .ng-invalid .mat-form-field-ripple {
        background-color: map-get($warn, $error-shade) !important;
    }
}

//mat-form-field error font-size
.mat-error {
    font-size: 1.3rem;
}