$mgames-primary: (
  50: #ffebef,
  100: #ffcdd4,
  200: #f99a9b,
  300: #f37174,
  400: #ff4d50,
  500: #ff3833,
  600: #f62d33,
  700: #e4202d,
  800: #d71525,
  900: #c90017,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff
  )
);

$mgames-accent: (
  50: #d7f9f7,
  100: #98eee7,
  200: #20e4d7,
  300: #00d5c3,
  400: #00c8b3,
  500: #00baa2,
  600: #00ac93,
  700: #009a80,
  800: #008970,
  900: #006b50,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #ffffff
  )
);

//#e91916
//#F7BBBB
$mgames-warn: (
  50: #fce3e3,
  100: #f8bab9,
  200: #f7bbbb,
  300: #f05e5c,
  400: #ec3c39,
  500: #e91916,
  600: #e61613,
  700: #e31210,
  800: #df0e0c,
  900: #d90806,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff
  )
);

