@use '~@angular/material' as mat;
@use 'material-theme-palette' as *;
@use 'material-z-overlay' as *;
@use '~src/scss/base/base' as *;
@use '~src/scss/layout/forms' as *;

$primary-main-shade: 200;
$accent-main-shade: 100;
$warn-main-shade: 200;
$primary: mat.define-palette($mgames-primary, $primary-main-shade);
$accent: mat.define-palette($mgames-accent, $accent-main-shade);
$warn: mat.define-palette($mgames-warn, $warn-main-shade);

$mgames-typography: mat.define-typography-config(
  $font-family: "Roboto, Arial, Helvetica, sans-serif"
);

@include mat.core($mgames-typography);

$theme: mat.define-dark-theme((
 color: (
   primary: $primary,
   accent: $accent,
   warn: $warn
 )
));

//brightest surface #514141
//mat-form-field filled background #3a3434

$material-gray: #121212;
$background-color: mix(map-get($primary, $primary-main-shade), $material-gray, 8%);
$background: map-get($theme, background);
$background: map_merge($background, (background: $background-color, card: apply-z-overlay($background-color, 1)));
$theme: map_merge($theme, (background: $background));

//Angular Material
@include mat.core-theme($theme);
@include mat.button-theme($theme);
@include mat.form-field-theme($theme);
@include mat.input-theme($theme);

//Custom
@include btn-branded-theme($theme);
@include ripple-warn-theme($theme);

.mat-app-background {
  background-color: $background-color;
}
