$levels: (1: 5%, 2: 7%, 3: 8%, 4: 9%, 6: 11%, 8: 12%, 12: 14%, 16: 15%, 24: 16%);

@mixin apply-z-overlay($color, $level) {
    background-color: get-z-overlay($color, $level);
}

@function get-z-overlay($color, $level) {
    @if map-has-key($levels, $level) {
        $transparency: map-get($levels, $level);
        @return lighten($color, $transparency);
    } @else {
        @error "ERROR: Specified level " + $level + " does not exist in the transparency levels mapping";
    }   
}